@media (min-width: 730px) {

    header span {
        font-size: 1.5rem;
        /* text-transform: uppercase; */
    }

    .header {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    .header-logo {
        grid-column: 1/2;
    }

    .navigation {
        grid-column: 2/3;
        background-color: #191f24;
    }



    .hamburger {
        display: none;
    }


    .navigation {
        display: flex;
    }

    .navigation ul {
        display: flex;
        column-gap: 20px;
    }

    /* FOOTER */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        min-height: 280px;

    }

/* ..................HOME...................... */
 .highlight {
     font-size: xx-large;
 }

 .message {
     font-size: x-large;
 }

 .details {
     display: grid;
     grid-template-columns: 1fr 1fr;
 }

 .about {
     grid-column: 1/2;
     grid-row: 1/2;
 }

 .button {
     grid-column: span 2;
     grid-row: 2/3;
 }


 .offer {
     grid-column: 2/3;
    grid-row: 1/2;
 }

 #professional-service-card {
     grid-template-columns: 1fr 1fr 1fr 1fr;
 }














    .list section {
        display: grid;
        grid-template-columns: 0.75fr .75fr 0.5fr 0.75fr 0.5fr 0.5fr;
        gap: 30px;
        text-align: left;
    }

    /* DIRECTORY */
    /* .events {
        position: absolute;
        bottom: 0;
        left: 0;
    } */

    .event-highlight {
        display: flex;
    }


    #forecast {
        /* display: grid; */
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        /* max-width: 900px; */
    }

    /* ..............JOIN FORM..................... */
    .reg-form {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .form1 {
        grid-column: 1/3;
    }

    #membershipLevelDetails {
        position: absolute;
        left: 15%;
        top: 25%;
    }

    /* ..............DISCOVER..................... */





}