:root {
    --primary-color: #D9D4D5;
    --secondary-color: #191f24;
    --testing: #efefef;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;
}

body {
    font-family: "News Cycle", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-family: "News Cycle", Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

main {
    background-color: var(--primary-color);
    color: #161313;
}

h1,
header,
footer {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    background-color: var(--secondary-color);
    padding: 5px;
    color: #f5f0f0;
    font-family: "Marcellus", Georgia, "Times New Roman", serif;
    line-height: 2.6;
}

header,
main,
footer {
    margin: 1rem auto;
    border: 1px solid lightgray;
    padding: 5px;

}

section {
    border: 1px solid rgb(189, 159, 159);
    padding: 5px;
    margin: 10px;
}

.small img,
.large img {
    display: block;
    max-width: 100%;
    height: auto;
}

.large {
    display: none;
}

.large,
.small {
    padding: 10px;
    margin: 15px;
}


@media (min-width: 768px) {

    .large {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .small {
        display: none;
    }

}