:root {
    --header-footer-background: #191f24;
    --main-page-background: #D9D4D5;
    --text-on-header-footer: #f5f0f0;
    --text-on-main-page: #161313;
    --button: #605c5c;
    --text-on-button: #efefef;
}

* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: "News Cycle", sans-serif;
    font-weight: 400;
    font-style: normal;
    /* min-width: 320px; */
}

h1,
header,
footer {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
}


/* HEADER */
header {
    display: flex;
    flex-wrap: wrap;
    padding: 5px 0 5px 10px;
    align-items: start;
    margin: 0 auto;
    column-gap: 20px;
    background-color: var(--header-footer-background);
    color: var(--text-on-header-footer);
}

.identity {
    display: flex;
    column-gap: 5px;
    /* align-content: end; */
}

.way-finding {
    display: flex;
    column-gap: 5px;
    align-items: center;
    margin: 0 auto;
}

.identity img {
    width: auto;
    height: 12px;
    margin-top: 5px;
    display: block;
    border: 1px solid white;
    /* background-color: #1d1817; */
    border-radius: 2px;
}

.way-finding img {
    width: 16px;
    height: 16px;
    margin: 0 auto;
    background-color: white;
    border-radius: 3px;
}

header span {
    font-size: 1.4em;
    margin: 0 auto;
}

/* HAMBURGER NAVIGATION */
.hamburger {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00D7";
    /* font-size: 1.5rem; */
}

/* NAVIGATION */
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.navigation a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--text-on-header-footer);
    text-align: start;
}

.active {
    background-color: #3e434a;
    border-radius: 5px;
}

.navigation a:hover {
    text-decoration: overline;
}


/* FOOTER */
footer {
    padding: 1rem 10px;
    text-align: center;
    background-color: var(--header-footer-background);
    color: var(--text-on-header-footer);

}

.social-media {
    display: flex;
    justify-content: center;
    column-gap: 5px;
    margin: 10px;
}

.social-media a {
    display: flex;
    border: solid 1px #dfd7d7;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--text-on-button);
    margin: 10px;
}

.social-media img {
    width: 14px;
    height: 14px;
}

.social-media a:hover {
    background-color: #dbc1bb;
}

/* Main*/

h1 {
    margin-left: 10px;
}

main {
    background-color: var(--main-page-background);
    color: var(--text-on-main-page);
}

.display-buttons {
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: #333;
    text-align: center;
}

.display-buttons button {
    padding: 0.5rem 1rem;
    font-weight: 700;
}
#business-card img {
    width: 100%;
    height: auto;
}

.grid-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 5px;
    align-items: center;
    /* border-bottom: 1px rgb(56, 53, 53) solid; */
}

section {
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 0.5rem;
    background-color: #e3dfdf;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tittle {
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 1px;
    border-bottom: 1px rgb(56, 53, 53) solid;
}

.logo {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 10px;
}

.info {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 10px;
    align-content: center;
}

.info p {
    padding: 10px;
}


.grid-card section {
    text-align: center;
}

.grid-card section>* {
    margin: 0.1rem;
}

.grid-card img {
    border: 1px solid #fff;
    box-shadow: 0 0 1rem #4a3939;
    width: 100%;
        height: auto;
}

.list {
    display: grid;
    grid-template-columns: 1fr;
    
}

.list section {
    margin: 0;
    padding: 0.25rem;
    text-align: center;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;
}

.list section h3 {
    font-size: 1rem;
}

.list section:nth-child(even) {
    background-color: #f7e9e9;
}

.list .title {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: none;
}

.list .info {
   display: grid;
   grid-template-columns: 1fr;
}

.list .logo {
    display: none;
}
