@media (min-width: 660px) {

    header {
            display: grid;
            grid-template-columns: 1fr 2fr;
        }

        .identity {
            grid-column: 1/2;
            align-items: center;
            margin-top: 15px;
        }
        

        .way-finding {
            grid-column: 2/3;
        }

    .hamburger {
        display: none;
    }

    body {
        /* max-width: 1000px; */
        margin: 0 auto;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #dfd7d7;
    }

    .navigation ul {
        display: flex;
        column-gap: 20px;
    }


    /* FOOTER */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    /* Main */
       
}