@media (min-width: 730px) {

    header {
        grid-template-columns: 24px auto auto 84px;
    }

    .hamburger {
        display: none;
    }

    body {
        /* max-width: 1000px; */
        margin: 0 auto;
    }

    .navigation {
        display: flex;
    }

    .navigation ul {
        display: flex;
        column-gap: 20px;
    }


    /* FOOTER */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    /* Main */

    .list section {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
    }

    .list section>* {
        text-align: left;
    }

}