@media (min-width: 730px) {

    header {
        grid-template-columns: 24px auto auto 84px;
    }

    .hamburger {
        display: none;
    }

    body {
        /* max-width: 1000px; */
        margin: 0 auto;
    }

    .navigation {
        display: flex;
    }

    .navigation ul {
        display: flex;
        column-gap: 20px;
    }


    /* FOOTER */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

.list section {
    display: grid;
    grid-template-columns: 0.75fr .75fr 0.5fr 0.75fr 0.5fr 0.5fr;
    gap: 30px;
    text-align:left;
}

    /* DIRECTORY */
    .events {
        position: absolute;
        bottom: 5px;
        left: 0;
    }

    .event-highlight {
        display: flex;
    }

        #forecast {
            /* display: grid; */
            grid-template-columns: 1fr 1fr 1fr;
            /* gap: 10px; */
        }
}