@media (min-width: 641px) {

    /* ..............DISCOVER..................... */
    #businessCard div {
        grid-template-areas:
            "photo title"
            "photo description"
            "photo address"
            "photo button";
    }

    #businessCard figure img:hover {
        box-shadow: 0 0 50px #333;
    }
}


@media (min-width:1025px) {

    header span {
        font-size: 1.5rem;
        /* text-transform: uppercase; */
    }

    .header {
        display: grid;
        grid-template-columns: 1fr auto;
    }

    .header-logo {
        grid-column: 1/2;
    }

    .navigation {
        grid-column: 2/3;
        background-color: #191f24;
    }



    .hamburger {
        display: none;
    }

    .navigation {
        display: flex;
    }

    .navigation ul {
        display: flex;
        column-gap: 20px;
    }

    #businessCard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    #businessCard div {
        margin: 0;
    }

    /* FOOTER */
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        min-height: 280px;
    }
}